/* Container */
.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.highlight {
    color: var(--primary-color)
}

.underline {
    border-bottom: 3px solid;
    border-bottom-color: var(--primary-color);
    padding-bottom: 7px;
}

.socials i {
    color: white;
}

.oval {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    transition: 200ms ease-in-out;
    outline: none;
    font-size: 0.875rem;
}

.oval:hover {
    background-color: var(--secondary-color);
}

.btn {
    display: inline-block;
    padding: 0.8em 1.875em;
    margin-right: 0.975rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    transition: 200ms ease-in-out;
    outline: none;
    font-size: 0.875rem;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.btn-light {
    background-color: var(--primary-color);
    color: white;
    -webkit-box-shadow: -1px 1px 5px 1.5px rgba(0,0,0,0.075);
    -moz-box-shadow: -1px 1px 5px 1.5px rgba(0,0,0,0.075);
    box-shadow: -1px 1px 5px 1.5px rgba(0,0,0,0.075);
}

.btn-light:hover {
    background-color: var(--secondary-color);
    color: white;
}

.subpoint {
    margin-left: 8px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 0.35fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Margin & Padding */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 4rem;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 1.5rem;
}

.pb-3 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 3rem;
}

.pb-5 {
    padding-bottom: 4rem;
}

/* Text Sizing */

.section-title {
    font-size: 3.125rem;
}

.secondary-title {
    font-size: 2.1875rem;
}

.lead {
    font-size: 1.5rem;
}

.section-paragraph {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 20px 0;
}

/* Animations */
@keyframes arrow-fade {
        0% {opacity: 1; transform: translateY(0px) scale(1);}
        25%{opacity: 0; transform:translateY(10px) scale(0.9);}
        26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
        55% {opacity: 1; transform: translateY(0px) scale(1);}
}

@keyframes arrow-fade-flip {
        0% {opacity: 1; transform: translateY(10px) scale(1);}
        25%{opacity: 0; transform:translateY(0px) scale(0.9);}
        26%{opacity: 0; transform:translateY(0px) scale(0.9);}
        55% {opacity: 1; transform: translateY(-10px) scale(1);}
}

/* Scrollbar */
#style-1::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: transparent;
}

#style-1::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
}

  
.go-back {
    position: absolute;
    top: 65px;
    font-size: 0.875rem;
    opacity: 0;
    transition: 400ms;
}

.back-arrow {
    width: 20px;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: var(--dark);
    width: 0%;
    height: 100%;
    z-index: 999;
  }
  
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 990;
    pointer-events: none;
}
  
/* Back To Top */
.back-to-top {
    padding: 30px 0px;
}

.back-to-top .fa-angle-double-down {
    animation-duration: 1.75s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);    
    animation-iteration-count: infinite;
    color: white;
    transition: 0.5s;
    display: block;
    transform: rotate(180deg);
}

.back-to-top .fa-angle-double-down:hover {
    color: var(--primary-color);
}

.fa-long-arrow-alt-left,
.fa-long-arrow-alt-right {
    color: white;
    transition: 0.25s all ease-in-out;
}

.fa-long-arrow-alt-left:hover,
.fa-long-arrow-alt-right:hover {
    color: var(--primary-color);
}

.back-arrow:hover .go-back {
    opacity: 1;
    color: white;
}

.back-arrow2 {
    margin-left: 40px;
}

.back-arrow2:hover .go-back {
    opacity: 1;
    color: white;
}


@media (max-width: 1440px) {
    .go-back {
        top: 45px;
    }

    .container {
        padding: 10px 60px;
    }
}

@media (max-width: 1023px) {
    .container {
        padding: 10px 40px;
    }
}

@media (max-width: 768px) {
    .btn {
        margin: 0 0.575rem;
    }
}

@media (max-width: 480px) {
    .btn {
        font-size: 0.7rem;
    }

    .works-mobile-preview .btn {
        font-size: 0.9rem;
    }

    .fa-long-arrow-alt-left:hover,
    .fa-long-arrow-alt-right:hover {
        color: white;
    }

    .go-back {
        display: none;
    }
}